body { background:#fff url(/img/bg.jpg) no-repeat center 189px;font-family:'Signika', sans-serif;font-weight:300;font-size:16px;line-height:20px; }
a, a:visited { color:#555;text-decoration:none;outline:0; }
a:hover, a:focus { color:#000;text-decoration:underline; }
.mceEditor{ display:block;padding:0;background:none;	} /* Outline fix for validation errors */
 
h1, h2, h3, .title {
	color:#63151E;
	font-weight:300;
	line-height:130%;
}
h1, .title1 { margin:24px 0 12px 0;font-size:28px; }
h2, .title2 { margin:20px 0 12px 0;font-size:22px; }
h3, .title3 { margin:16px 0 12px 0;font-size:18px; }
h4, .title4 { margin:16px 0 12px 0;font-size:14px; }

.bold { font-weight:600 !important; }

.title:first-child, .title.alpha,
h1:first-child,	h1.alpha, 
h2:first-child, h2.alpha,
h3:first-child, h3.alpha { margin-top:0; }

/****** @Paginator ******/

.paginator {
	text-align:center;
	margin-bottom:15px;
	padding:10px 40px;
	font-weight:bold;
 }

.paginator .current {  }
.paginator .buttons { overflow:auto; }

.paginator .first,
.paginator .prev,
.paginator .next,
.paginator .last {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:38px;
	height:22px;
	background:no-repeat top;
	border:#BBB solid 1px;
}
.paginator .first { background-image:url(/img/first.png); }
.paginator .next { background-image:url(/img/next.png); }
.paginator .prev { background-image:url(/img/prev.png); }
.paginator .last { background-image:url(/img/last.png); }

.paginator .first.disabled,
.paginator .next.disabled,
.paginator .prev.disabled,
.paginator .last.disabled,
.paginator .first:hover,
.paginator .next:hover,
.paginator .prev:hover,
.paginator .last:hover { background-position:bottom; }

.paginator .numbers {
	line-height:24px;
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 8px;
}
.paginator .numbers span { color:#CCC; }

/****** @Layout ******/

#nofooter{
	position:relative;
	width:980px;
	margin:0 auto;
	min-height:100%;
} * html #nofooter{ height:100%; }

#header {
	overflow:visible; /* Cuz Cart */
	position:relative;
	z-index:1;/*IE7*/
	height:147px;
}

#logo {
	position:relative;
	float:left;
	width:139px;
	height:136px;
	margin:0;
	background:url(/img/logo.png);
} #logo a { position:absolute;display:block;width:100%;height:100%;top:0;left:0;text-indent:-99999px; }

.outside {
	position:absolute;
	width:100%;
	height:189px;
	top:0;
	left:0;
	z-index:-2;
	background:transparent url(/img/header.jpg) repeat-x top center;
}
.exposure {
	width:403px;
	height:147px;
	left:50%;
	z-index:-1;
	margin:0 0 0 -592px;
	background:transparent url(/img/header_exposure.jpg) no-repeat center top;
}
.header-info { font-size:20px;overflow:hidden;text-align:right;margin:40px 0 0 0; }
.header-info h1 { margin:0 0 3px 0;color:#000;font-size:30px; }
.header-info p { color:#63151E;font-style:italic; }
.social {
	float:right;
	overflow:hidden;
	width:102px;
	height:50px;
	margin:30px 0 0 25px;
	background:url(/img/social.png) no-repeat center center;
}
.social a {
	display:block;
	float:left;
	width:51px;
	height:50px;
	text-indent:100%;
	white-space: nowrap;  
	overflow: hidden;
	font-size:0;
}
#menu {
	height:42px;
	text-align:left;
	margin:0;
	padding:0;
}
#menu li { margin:0 0 0 0px;overflow:hidden; }
#menu li:hover { overflow: visible; }
#menu li, #menu li a { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
#menu li a {
	height:42px;
	line-height:42px;
	margin:0;
	padding:0 23px;
	background:transparent;
	color:#600;
	font-size:18px;
	text-decoration:none;
	text-transform:capitalize;
	font-weight:bold;
}
#menu li a:hover, #menu li.mSelected a { background:transparent url(/img/menu_hover.jpg) repeat-x center center; }
.submenu {
	position:absolute;
	display:block;
	top:100%;
	left:0;
	width:100%;/*IE7*/
}
#menu .submenu li {
	margin:0;
	width:100%; /*IE7*/
}
#menu .submenu li a {
	display:block;
	line-height:18px;
	font-size:16px;
	border-top:#fff solid 1px;
	background-color:#242424;
	color:#fff;
	padding:6px 10px;
	margin:0;
	text-align:center;
	text-decoration:none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#menu .submenu li a:hover { background-color:#666;color:#fff; }
#menu .submenu li:first-child a { border-top:0; }

#body {
	overflow:hidden;
	padding:0 0 20px 0;
	z-index:0;/*IE7*/
}
.clear_both { clear:both; }
#cleaner { clear:both;width:100%;height:80px; } 
.footer {
	position:relative;
	clear:both;
	height:80px;
	margin:-80px auto 0 auto;
	background:#73151F;
	color:#fff;
	text-align:left;
}
.footer .center { position:relative;margin:0 auto;width:960px;height:80px; }

#telefono {
	position:relative;
	padding:0;
	text-align:left;
	overflow:hidden;
	line-height:80px;
}
#telefono span { font-weight:600;font-size:18px; }
#direccion {
	position:relative;
	float:right;
	width:720px;
	line-height:80px;
	text-align:right;
}
#direccion a { text-decoration:underline;color:#fff; }

.footer ul { color:#666;}
.footer ul li { display:inline; }
.footer ul li a{ padding:3px 5px;font-weight:bold;color:#fff; }
.footer ul li a:hover{ color:#ff6; }

/**** @BLOCKS **************/

.content,.sidebar, .pad { overflow:hidden; }

#body > .contentwide { }
	#body > .contentwide > .pad { padding:30px 0; }

#body > .content { float:left;width:647px;margin-right:30px; }
	#body > .content > .pad { padding:0; }

#body > .sidebar { }
	#body > .sidebar > .pad { padding:0; }

/* #body > .content > .pad { padding:0 0; } */

/******** @SIDEBAR ************************************************/

.banners { padding:10px 0 2px 0; }
.banners .banner { display:block;margin:0 auto 8px auto; }

#support { }
#support h2 { }
#support iframe { display:block;margin:0 auto 10px auto;border:0;width:180px;height:60px; }

.about_project {
	position:relative;
	overflow:visible;
	background:#fff url(/img/proyecto_subsemun_bubble.png) repeat-x center bottom;
	border:#EDEDBA solid 1px;
	margin:0 0 16px 10px;
	height:100px;
	border-radius:10px;
	padding:12px 12px 0 120px;
	font-size:14px;
	line-height:16px;
}
.about_project img {
	position:absolute;
	top:10px;
	left:-10px;
}
.about_project .title {
	font-weight: 600;
	margin:0 0 4px 0;
	text-transform:uppercase;
	line-height: 24px;
}

.tweets {}
.tweets .title:first-child { margin-bottom:0; }
.tweets > a { display:block;margin:0 0 8px;font-weight:bold;font-size:16px; }
.tweets li { margin:0 0 8px 0;border-bottom:#ccc solid 1px;padding:0 0 8px; }
.tweets .tweet_text { margin:0 0 3px 0; }
.tweets .tweet_date { color:#777; }

a.visit_our_facebook {
	display:block;
	background:#F5F5D6 url(/img/facebook_48.png) no-repeat 220px center;
	padding:15px 110px 15px 25px;
	font-size:24px;
	border-radius:8px;
	text-decoration:none;
	color:#63151E;
	margin:18px 0;
}

.logos { overflow:hidden; }
.logos a {
	display:block;
	float:left;
	width:50%;
	height:80px;
	background:transparent none no-repeat center center;
	font-size:0;
	text-indent:100%;
	white-space: nowrap;  
	overflow: hidden;
}
.logos a.somos_mas { background-image: url(/img/logo_somos_mas.png); }
.logos a.oprevidem { background-image: url(/img/logo_oprevidem.png); }
.logos a.proseguridad { background-image: url(/img/logo_proseguridad.png); }

/******** @GENERAL ************************************************/

.intro.desc {
	margin:0 0 20px;
}
.noresults { font-size:13px;font-style:italic;padding:12px 0;color:#666; }
.showcase { overflow:hidden; }
.imagefoot { background:#e9e9e9;margin:0;padding:3px 6px;font-size:10px;color:#555;line-height:15px; }
.back {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	background:#ddd url(/img/back.png) no-repeat 8px center;
	line-height:32px;
	padding:0 10px 0 26px;
	margin:0 0 8px 0;
	border-radius:6px;
}
.highlight{ background:#ff8; }
.leydatos { padding:0 8px 4px 8px;line-height:12px;text-align:center;color:#777;font-size:10px; }

.bulleted { margin:0 0 20px 0; }
.bulleted li { margin:0 3px 0 16px; }
.bulleted li a {
	display:block;
	/*background:url(/img/bullet.png) no-repeat left 6px;*/
	padding:0 5px 0 20px;
	margin:1px;
	line-height:28px;
}
.bulleted li.selected > a,
.bulleted li a:hover { }
.bulleted li li {  }

.sectionHdr{
	height:50px;
	margin:0;
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#d3d3d3;
}

.more { padding:0 10px 0 0;text-align:right; }
.more a {
	line-height:28px;
	/*background:transparent url(/img/bullet.png) no-repeat left center;*/
	color:#555;
	font-weight:bold;
	text-decoration:underline;
	padding:3px 0 3px 10px;
}

div.submit { text-align:center; }
input[type=submit], .submitBtn {
	background:#666 /*url(/img/submit.jpg) repeat-x center top*/;
	width:112px;
	height:36px;
	border:0;
	color:#fff;
	margin:20px 0 10px 0;
	font-weight:bold;
	
}
div.captcha input { width:30px !important; }
div.captcha label { padding-bottom:3px !important; }
div.captcha label span { padding-left:3px; }
div.captcha > span { padding-left:12px; }
#captchaCode { vertical-align:text-top;color:#242424;font-weight:bold;font-size:90%; }

/*** Detail ***/

.date { font-size:10px;color:#999;margin:5px 0 0 0; }
.desc { text-align: justify; }
.desc p { margin:0 0 10px 0;  }
.comments {
	float:left;
	width:45px;
	background: url(/img/icoComments.gif) no-repeat left center;
	padding:0 0 0 20px;
	color:#666;
	height:28px;
	line-height:28px;
 }

.detail {}
.detail .clear { margin-top:16px; }

.detail .title { margin:0; }
.detail .date { font-size:11px; }

/*** @Thumb *************/

.thumb, .thWrap, .thMask { overflow:hidden; }
.thumb { padding:8px 16px 15px 16px; }
.thWrap { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
.thMask {
	display:block;
	-moz-box-shadow: 4px 4px 4px #CCC;
	-webkit-box-shadow: 4px 4px 4px #CCC;
	box-shadow: 4px 4px 4px #CCC;
}
.thumb .thWrap {
	width:164px;
	height:128px;
}
.thumb .thWrap, .thWrap.float {
	float:left;
	margin:0 20px 4px 0;
}
.thumb .title { margin:0;font-size:18px; }
.thumb .title a {  }
.thumb .date { margin-top:3px; }
.thumb .desc { margin:8px 0 0 0; }

.thumb.v {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:180px;
}
.thumb.v .thWrap {
	display:block;
	float:none;
	border:0;
	margin:0 0 8px 0;
	width:auto;
	height:auto;
}

.thumb .thPlayer { padding:25px 12px; }
.thumb.v .title { font-size:13px; }
.thumb.v .date { }
.thumb.v .precio { font-style: 14px;font-weight:bold; }
.thumb.v .desc { font-size:11px; }

.thPlayer { padding:25px; }

/* Comments */

#comments { padding:0 18px; }

#commentForm { margin:0 0 15px 0;overflow:hidden; }
#commentForm label, #commentForm .label { font-size:11px;padding:2px 0;font-weight:bold;color:#999; }
#commentForm .subform { overflow:hidden; }
#commentForm .submit { text-align:right;padding:16px 0; }
#commentForm .submit input[type=submit]{ margin:0 }

.comment_textarea { float:left;width:296px; }
.comment_textarea textarea { height:132px; }
.comment_texts { margin-left:318px;padding-right:10px; }
.comment_count {}

.comment { padding:15px 10px; }
.comment.odd{ background:#f3f3f3;border-top:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px; }
.comment .title {  }
.comment .date {  }
.comment .desc {  }

.comment_list { border-top:#a4a4a4 solid 1px; }
.comment_count { line-height:40px; }

#crumbs{ font-size:13px;border-bottom:#ccc solid 1px;padding:0 0 5px 0; }
#crumbs a { padding:3px 8px 3px 12px;background:url(/img/crumb.png) no-repeat left center; }
#crumbs a:first-child{ padding:3px 8px;background:none; }

/******** @INICIO ************************************************/

#carousel { margin:0 auto 20px;background:transparent url(/img/spinner.gif) no-repeat center center; }
#carousel .mooshowcase_nav { background:#000;padding:12px 8px;text-align:right; }

/******** @ABOUT ************************************************/

.c_about .sectionHdr { /*background-image:url(/img/hdrAbout.jpg);*/ }

/******** @ALBUMS ************************************************/

.inlineGallery { margin:20px 0; }
.inlineGallery a {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 6px;
	margin:0 3px 15px 3px;
}
.inlineGallery a img {
	box-shadow: 4px 4px 4px #999;
	-moz-box-shadow: 4px 4px 4px #999;
	-webkit-box-shadow: 4px 4px 4px #999;
}

/******** @POSTS ************************************************/

.c_posts .sectionHdr{ /*background-image:url(/img/hdrPosts.jpg);*/ }

.detail .portada {
	overflow:hidden;
	margin:0 20px 8px 20px;
	max-height:500px;
}
.portada.Centro { display:block;margin:0 auto 15px auto;text-align:center; }
.portada.Centro img { display:block;width:100%; }
.portada.Derecha { float:right;margin-right:0; }
.portada.Izquierda { float:left;margin-left:0; }

.share { padding:10px 0;overflow:hidden; }
.share > div { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }

/******** @SERVICIOS ************************************************/

.c_services .sectionHdr { /*background-image:url(/img/hdrServices.jpg);*/ }

/******** @PODCASTS ************************************************/

#pPlayer{ margin:30px 0;padding:0 30px; }
.vPlayer{ display:block;margin:20px auto;width:640px;height:360px; }

/**** @POLLS **************/

#poll_form {
	position:relative;
}

#poll_form .questions { overflow:hidden;padding:12px 20px;position:relative; }
#poll_form .question.hide { display:none; }
#poll_form .question { position: relative;margin:0 0 16px 0;padding-bottom:15px;border-bottom:#B29233 dotted 1px; }
#poll_form .question .title { margin:0 0 10px 0;font-size:16px; }
#poll_form .question.omega { text-align:center;line-height:16px;color:#888;border:0; }
#poll_form .question.omega .title { margin:0;text-align:center;line-height:35px;color:#333; }
#poll_form .question div.submit { text-align:left;padding:5px 0; }
#poll_form .question div.submit input {
	width:auto;
	background:transparent url(/img/poll_answer.png) no-repeat left 8px;
	height:28px;
	padding:0;
	border:0;
	margin:0;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	text-indent:16px;
	color:inherit;
}
#poll_form .question div.submit input:hover { background-image: url(/img/poll_answer_selected.png); }

.sidebar {}
.sidebar #poll_form { background:#d3d3d3;padding:8px; }
.sidebar #poll_form .questions { padding:3px 0 0 0; }
.sidebar #poll_form .question { margin:0;padding:0;border:0; }
.sidebar #poll_form .question .title { margin:0 0 4px 0; }
.sidebar #poll_form .question div.submit { padding:0; }
.sidebar #poll_form .question div.submit input {
	width:100%;
	font-size:12px;
	margin:0;
}

/******** @FAQS ************************************************/

.c_faqs .sectionHdr{ /*background-image:url(/img/hdrFaqs.jpg);*/ }

div.faq { padding-bottom:15px; }
h1.pregunta {
	font-size:18px;
	/*background:transparent url(/img/icoQuestion.gif) no-repeat;*/
	line-height:24px;
	padding-left:0;
}
div.respuesta { padding:0; }

/***** @CONTACTO *******************************************/

.c_contacto .sectionHdr{ /*background-image:url(/img/hdrContacto.jpg);*/ }

.c_contacto .note {  }
.c_contacto .form { float:left;width:320px; }

.c_contacto .form label{ padding:8px 5px;font-weight:bold; }
.c_contacto .form p:first {  }
.c_contacto .form .subform { padding:0; }
.c_contacto .form .input.text input, .input textarea { width:95%; }

.c_contacto .info { margin-left:385px; }
.c_contacto .info .title { font-weight:normal; }

/******** @INVITE ************************************************/

.invite {
	padding:15px 15px 25px 15px;
	background:url(/img/hdrInvite.jpg) no-repeat top;
	color:#333;
	position:relative;
	width:542px;
}
.invite .title { margin-bottom:4px; }
.invite .note { color:#666;margin:0 0 6px 0;background:none;font-size:10px;padding:0; }

.invite .subform { overflow:hidden; }

.invite .inviteCol { float:left;width:262px;margin-right:18px; }
.invite .inviteCol.omega { margin-right:0; }

.invite .inviteLabel { background:#0660A0;padding:6px 12px;margin:0;font-weight:bold;text-align:center;font-size:13px;color:#fff; }

.invite .input.text input{ width:248px; }
.invite .textarea textarea { width:528px;margin:0 auto 15px auto; }
.invite .submit { padding:0; }
.invite .submit input { margin:0 auto; }